*.sh
*.env*
linkedin-agent/*.js
data/pgsql/drop
data/pgsql/*.py
data/pgsql/*.sql
data/pgsql/findings_export.jsonl
linkedin-agent/backup
linkedin-agent/project.version
data/pgsql/.psql_history
linkedin-agent/favicon.png
linkedin-agent/favicon.ico
linkedin-agent/scripts/testing-
