node_modules/
# data/
.env
*.log
deploy
scripts/LinkedIn_Agent_Testing/
!cssversion.js
!cssversion-major.js
!cssversion-minor.js
!audit_node_project.sh
get-prompt.mjs
get-prompt-keys.mjs
public/dashboard.js
public/dashboard.js.map
